<!-- <div>
    <form #emailForm="ngForm" (ngSubmit)="onSubmitForm(emailForm)">
        <p><label for="emailInput">Inscrivez-vous pourrecevoir nos emails!</label>
        <input type="email" id="emailInput" name="userEmail" [(ngModel)]="userEmail"></p>
        <p>
        <input type="password" id="passwordInput" name="userPassword" [(ngModel)]="userPassword">
        <button type="submit" class="btn btn-primary btn-block">OK!</button></p>
    </form>
</div> -->

<div class="landing-block">
    <img src="assets/snapface.png" alt="SnapFace logo">
    <div class="landing-links">
        <!-- <a routerLink="facesnaps">Continuer vers Snapface</a> -->
        <button (click)="onContinue()">Continuer vers Snapface</button>
    </div>
</div>